/*
* Social chat in Ionic 4 chat application  (https://github.com/habupagas/facebook-clone-ionic4)
* Copyright  @2020-present. All right reserved.
* Author By Abubakar Pagas
*/


ion-title {
  font-size: medium;
  font-family: Georgia, "Times New Roman", Times, serif;
}

ion-fab-button {
  width: 47px !important;
  height: 47px !important;
}
ion-fab {
  padding-right: 6px;
}

ion-col {
  float: left !important;
}

.bold {
  font-weight: bold;
}

div.group {
  text-align: center;
  background: rgb(224, 223, 223);
  position: relative;
  border-radius: 1em;
  border: 2px solid #9aa7c5;

  img {
    margin-top: 1.25em;
    border-radius: 100%;
    width: 5em;
    height: 5em;
    object-fit: cover;
  }

  ion-badge {
    position: absolute;
    top: 1em;
    right: 3.5em;
  }

  p,
  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0;
    margin: 0;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    color: #101010;
    font-size: 100%;
    display: block;
  }

  span {
    color: var(--ion-color-primary);
    font-size: 90%;
    display: block;
    padding-bottom: 1.25em;
  }
  div.group.activated,
  div.group:active {
    opacity: 0.5;
  }

  img.activated,
  img:active {
    opacity: 0.5;
  }
}
