
  .content-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }   
  .title {
        align-items: center;
  }
  .chat {
    width:95%;
  }
  .wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
    .content-scroll {
      height: 100% !important;
      width: 100%;
      overflow: auto;
      .group {
        display: flex;
        flex-direction: column;
        .title { 
          font-size: 22px;
          font-weight: 600;
          padding: 10px 0 5px 30px;
          text-transform: uppercase;
        }
        .contact {
          margin: 5px 20px 5px 0;
          display: flex;
          padding: 5px 10px 5px 15px;
          .image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
            margin-left: 10px;
            background-size: cover !important;
          }
          .name {
              font-size: 16px;
              font-weight: 500;
              padding: 0 0 4px 0;
          }
        }    
      }
    }
  }
  

