<ion-toolbar>
  
</ion-toolbar>

<ion-content scrollX="false" scrollY="false">
  
<!-- <img src="../../../../assets/images/new/Background1.jpg" id="bg" alt=""> -->

  <div class="content-wrapper">
    <div class="header no-border has-toolbar">
      <div class="title">
        Invite Chat
      </div>
      <div class="options">
        <ion-button fill="clear" size="small" color="medium" (click)="openSearch = !openSearch">
          <ion-icon mode="md" name="search"></ion-icon>
        </ion-button>
        </div>
    </div>
