
<ion-toolbar>

</ion-toolbar>

<ion-content scrollX="false" scrollY="false">

  <!-- <img src="../../../../assets/images/new/Background1.jpg" id="bg" alt=""> -->

  <div class="content-wrapper">
    <div class="header no-border has-toolbar">
      <div class="title">
        Invite Chat
      </div>
      <div class="options">
        <ion-button fill="clear" size="small" color="medium" (click)="openSearch = !openSearch">
          <ion-icon mode="md" name="search"></ion-icon>
        </ion-button>
      </div>
    </div><!--toolbar-->
    

    <div class="wrapper" *ngIf="groupedPeople.length > 0">
      <div class="content-scroll" #content>
          
            
            <div class="group" *ngFor="let group of groupedPeople">
          
          <div class="contact" *ngFor="let contact of group.people; let i = index">
            
            <!-- <div class="image"  [image-loader]="contact.photoURL"></div>                   -->
            <ion-checkbox></ion-checkbox>
               
              <img class="image" src="{{ contact.photoURL }}">        
            
            
            <div class="name">{{ contact.displayName }}
            </div>
            

              <!--</div>contact-->                            
            <!--</div>group-->            
          </div><!--contact-->          
        </div><!--contact:people contact-->             
      </div><!--group : groupedPeople-->
    </div><!--wrapper-->
    <!-- <app-no-data *ngIf="groupedPeople.length === 0"> </app-no-data> -->
  </div> <!--content-wrapper-->
</ion-content>
<ion-footer>
  <ion-button class="chat" color="medium" (click)=gochat()>CHAT</ion-button>
</ion-footer>